.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
}

.product:not(:last-child) {
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: black;
}
