.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.6);
  padding: 8px;
  height: 100px;
}

.tab:not(:last-child) {
  margin-right: 20px;
}
