.root {
    padding: 20px 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.section {
    display: flex;
    flex-direction: column;
}

.section:not(:last-child) {
    margin-bottom: 20px;
}

.sectionTitle {
    margin-bottom: 10px;
}