.root {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  width: 75px;
  justify-content: space-between;
  align-items: center;
}

.action {
  border: 1px solid rgb(0 0 0 / 40%);
  width: 24px;
  height: 24px;
  background-color: inherit;
  border-radius: 4px;
  transition: 0.2s;
}

.action:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
