.root {
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    justify-content: space-between;
}

.ingredients {
    margin-top: 20px;
}

.count, .price, .sum {
    font-weight: 600;
}

.sum {
    margin-left: 40px;
}